{% extends 'base.html' %}

{% block content %}
    {% for film in film %}
        <div class="film">
            <p>published: {{ film.Published_date }}</p>
            <h1><a href="{% url 'film_detail' pk=film.pk %}">{{ film.Title }}</a></h1>
            <p>{{ film.Description|linebreaksbr }}</p>
            {% for actor in film.actor.all %} 
                <p>Actor : {{ actor.Actor_name }} </p>
            {% endfor%}
            {% for genre in film.genre.all %}
                <p>Genre : {{ genre.Type }}</p> 
            {% endfor %}
        </div>
    {% endfor %}
{% endblock content %}